/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */

:root {
    --main-font: "Inter-Variable", sans-serif;
    --accent-font: "Press Start 2P", sans-serif;
    --weigth-text: 400;
    --weigth-heading: 700;
    --font-color: #fff;
    --bg-color: #FFFFFF;
    --accent-color: #000000;
    --color-transparent: rgb(0 0 0 / 60%);
    --border: 2px solid var(--accent-color, #000000);
    --transform-time: 0.3s;
    --transition-function: ease;
    --fill-heart-sparks: rgba(255, 0, 0, 1);
    --bg-gradient: repeating-linear-gradient(
        to left,
        #d3d3d3 0,
        #d3d3d3 2px,
        transparent 2px,
        transparent 4px
      ),
      repeating-linear-gradient(
        to top,
        #d3d3d3 0,
        #d3d3d3 2px,
        transparent 2px,
        transparent 4px
      ),
       var(--bg-gradient-color);
      --bg-gradient-color: linear-gradient(180deg, #E7E7E7 0%, #1A1A1A 100%);
}